.header
  .header__box
    .header__box__top
      .header__box__top__logo
        = link_to image_tag("logo.png", width: "100", class: "header__logo")
      .header__box__top__input
        = form_with(url: "#", local: true, method: :get, class: "search-form") do |form|
          .header__box__top__input__search
            = form.text_field :name, placeholder: "キーワードから探す", class: "search-input"
            %button{type: "submit"}
              .header__box__top__input__search__btn
                = image_tag("icon-search 1.png", width: "25", height: "25")
    .header__box__bottom
      %ul.header__box__bottom__categorie
        %li= link_to "カテゴリー", "#", class: "header__box__bottom__categorie__list"
        %li= link_to "ブランド", "#", class: "header__box__bottom__categorie__list"
      %ul.header__box__bottom__user
        %li= link_to "ログイン", "#", class: "header__box__bottom__user__btn"
        %li= link_to "新規会員登録", "#", class: "header__box__bottom__user__btn"

.main
  .main__first
    .main__first__content
      %h1.main__first__content__text 人生を変えるフリマアプリ
      %p.main__first__content__p FURIMAはだれでもかんたんに出品・購入できる
      %p.main__first__content__p フリマアプリです
      = link_to image_tag("http://furima.tokyo/assets/app-store-9c5e28e8f81bd9912e0ded2f78821e04778a1356c05dc7c7bf1e88614be37c34.svg", width: "180", class: "main__first__content__logo"), "#"
      = link_to image_tag("http://furima.tokyo/assets/google-play-469c63f1269e456307c4dde176b33cc3bbbbf142ac4d7369656010130149db1a.svg", width: "180", class: "main__first__content__logo"), "#"
  .main__second
    .main__second__content
      .main__second__content__text
        %h2 FURIMAが選ばれる3つの理由
      .main__second__content__box
        .main__second__content__box__reason
          = image_tag("pict-reason-01.jpg", width: "300", class: "main__second__content__box__logo")
          .main__second__content__box__number
            %h1 1
          .main__second__content__box__reason__h2
            %h2
              %span> 3分
              ですぐに出品
          .main__second__content__box__reason__p
            %p スマホで入力するだけで簡単に出品できる！
        .main__second__content__box__reason
          =image_tag("pict-reason-02.jpg", width: "300", class: "main__second__content__box__logo")
          .main__second__content__box__number
            %h1 2
          .main__second__content__box__reason__h2
            %h2
              %span> シンプル
              で使いやすい
          .main__second__content__box__reason__p
            %p めんどくさい入力は必要なく、検索も購入もスムーズ！
        .main__second__content__box__reason__last
          =image_tag("pict-reason-03.jpg", width: "300", class: "main__second__content__box__logo")
          .main__second__content__box__number
            %h1 3
          .main__second__content__box__reason__last__h2
            %h2
              手数料
              %span>業界最安
          .main__second__content__box__reason__last__p
            %p.p 最大3%でお得に出品&購入！
    .main__second__bottom
      .main__second__bottom__content
        .main__second__bottom__content__text
          %h2 会員数日本一位
          %p FURIMAは、フリマアプリで最も人気。
          %p 出品・購入回数も業界最多です！
          %p ほしかったあの商品に出会えるかもしれません。
        = link_to image_tag("http://furima.tokyo/assets/app-store-9c5e28e8f81bd9912e0ded2f78821e04778a1356c05dc7c7bf1e88614be37c34.svg", width: "180", class: "main__content__first__logo"), "#"
        = link_to image_tag("http://furima.tokyo/assets/google-play-469c63f1269e456307c4dde176b33cc3bbbbf142ac4d7369656010130149db1a.svg", width: "180", class: "main__first__content__logo"), "#"
  .main__third
    .main__third__text
      %h2 FURIMAの特徴
    .main__third__box
      .main__third__box__info
        =image_tag("icon-01.png", width: "220", class: "main__third__icon")
        %h3 簡単に売り買いできる
        %p スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
      .main__third__box__info
        =image_tag("icon-03.png", width: "220", class: "main__third__icon")
        %h3 売上金は即日振込みに対応
        %p 午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!
      .main__third__box__info
        =image_tag("icon-04.png", width: "220", class: "main__third__icon")
        %h3 様々な支払いに対応
        %p お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。

.item
  .item__text
    %h2 アイテム一覧
  .item__box
    - @items.each do |item|
      .item__box__info
        = link_to image_tag("/assets/icon-04.png", width: "100%", height: "230px"), "#"
        .item__box__info__name
          = item.name
.main__bottom
  .main__bottom__box
    .main__bottom__box__text
      %h2 だれでもかんたん、人生を変えるフリマアプリ
      %p 今すぐ無料ダウンロード！
    .main__bottom__box__btn
      = link_to image_tag("http://furima.tokyo/assets/app-store-9c5e28e8f81bd9912e0ded2f78821e04778a1356c05dc7c7bf1e88614be37c34.svg", width: "180", class: "main__bottom__box__btn__logo"), "#"
      = link_to image_tag("http://furima.tokyo/assets/google-play-469c63f1269e456307c4dde176b33cc3bbbbf142ac4d7369656010130149db1a.svg", width: "180", class: "main__bottom__box__btn__logo"), "#"

.footer
  .footer__box
    .footer__box__info
      %h2 FURIMAについて
      = link_to "会社概要（運営会社）", "#", class: "footer__box__info__link"
      = link_to "プライバシーポリシー", "#", class: "footer__box__info__link"
      = link_to "FURIMA利用規約", "#", class: "footer__box__info__link"
      = link_to "ポイントに関する特約", "#", class: "footer__box__info__link"
    .footer__box__info
      %h2 FURIMAを見る
      = link_to "カテゴリー一覧", "#", class: "footer__box__info__link"
      = link_to "ブランド一覧", "#", class: "footer__box__info__link"
    .footer__box__info
      %h2 ヘルプ＆ガイド
      = link_to "FURIMAガイド", "#", class: "footer__box__info__link"
      = link_to "FURIMAロゴ利用ガイドライン", "#", class: "footer__box__info__link"
      = link_to "お知らせ", "#", class: "footer__box__info__link"
  = link_to image_tag("/assets/logo-white.png", width: "160", class: "footer__logo"), "#"
  %p ©︎FURIMA

.icon
  %p 出品する
  = link_to image_tag("/assets/icon_camera.png", width: "52", height: "52")