.wrapper
!!!
%html
%body
  %header.search-top
    .Inner
      .mainHeader
        %h1.icon
          %a{:href => "/"}
            .icon-img
            = image_tag 'logo.png', alt: 'aaaa', height: '49', width: '100', class: 'logo'
        .searchbox
          %form{"accept-charset" => "UTF-8", :action => "#", :method => "get"}
          %input.searchbox-text{:name => "key", :placeholder => "検索"}/
          %button{:type => "submit"}
            .searchbox__icon
              %img{:src => "/assets/icon-search-svg"}/
      .nab
        %ul.listsLeft
          %li.listsLeft__item.listsLeft__item--first
            = link_to " カテゴリー", "#", class: ".catBtn" 
          %li.listsLeft__item
            %a.brandBtn{:href => "#"} ブランド
            %ul.brandsPulldown.displayNone

        %ul.listsRight
          %li.listsRight__item.listsRight__item--login
            %a.rogBtn{:href => "#"} ログイン
          %li.listsRight__item.listsRight__item--new
            %a.newBtn{:href => "#"} 新規会員登録
  
  .winding
    %ul.winding-road
      %li.listone
        = link_to  "#", class: "branch" do
          FURIMA
      %li.listone
        %i.fa.fa-angle-right
      %li.listone
        = link_to  "#", class: "branch" do
          メンズ
      %li.listone
        %i.fa.fa-angle-right
      %li.listone
        = link_to  "#", class: "branch" do
          ジャッケット
      %li.listone
        %i.fa.fa-angle-right
      %li.listone
        = link_to  "#", class: "branch" do
          ノーカラージャケット
      %li.listone
        %i.fa.fa-angle-right
      %li.listone
        = link_to  "#", class: "branch" do
          product2
      
  .main
    .showmain
      .contentright
        .topcontent
          .itembox
            %h2.itembox__name
              product2
            .itembox__body
              %ul.big__image
                %li.all
                  = image_tag 'icon-01.png', alt: 'tanimura', height: '100', width: '100', class: 'tanimura'
                  %ul.samall__image
                    %li
                      = image_tag 'icon-03.png', alt: 'minayoshi', height: '100', width: '100', class: 'minayoshi'
                    %li
                      = image_tag 'pict-reason-03.jpg', alt: 'nagasue', height: '100', width: '100', class: 'nagasue'
                    %li
                      = image_tag 'pict-reason-02.jpeg', alt: 'gondo', height: '100', width: '100', class: 'gondo'

            .itembox__price
              %span
                ¥800000
            .itemBox__price-detail
              %span
                (税込み)
              %span
                送料込み
            .itemdetail
            あのチームeのファイナルライブ物販限定商品が4枚セットなって出品！！
            こちら1枚ずつのバラ売りは応じません。
            こちら新品未使用品のため価格交渉には応じません
            送料に関しては交渉応じます。
            %table.table{:border => "1",  :width => "500", :height => "500"}
              %tr
                %td.one{:bgcolor => "#eee", :width => "30%", :align=>"center"} 出品者
                %td.abc{:width => "70%"} hoge
              %tr
                %td.one{:bgcolor => "#eee", :align=>"center"} カテゴリー
                %td.dfg{:width => "70%"} 
                  = link_to "メンズ", "#", class: "hogehoge"
              %tr
                %td.one{:bgcolor => "#eee", :align=>"center"} ブランド
                %td.abc 
              %tr
                %td.one{:bgcolor => "#eee", :align=>"center"} 商品のサイズ	
                %td.abc 
              %tr
                %td.one{:bgcolor => "#eee", :align=>"center"} 商品の状態	
                %td.abc 新品/未使用
              %tr
                %td.one{:bgcolor => "#eee", :align=>"center"} 配送料の負担
                %td.abc 着払い（購入者負担）
              %tr
                %td.one{:bgcolor => "#eee", :align=>"center"} 発送元の地域
                %td.dfg
                  = link_to "青森県", "#", class: "hogehoge"
              %tr
                %td.one{:bgcolor => "#eee", :align=>"center"} 発送日の目安
                %td.abc 1-2日で発送

            .optionalarea
              %ul
                %li#likeBtn.optionalBtn.likeBtn
                  %i.fa.fa-star
                  お気に入り 0
              %ul.optional
                %li.optionalBtn
                  %i.fa.fa-flag
                    = link_to "不適切な商品の通報", "#", class: "hoge3"
          .commentbox
            %form
              %textarea{:placeholder => "ご要望をお書きください", class: "hoge4"}
            %p.notice
              相手のことを考え丁寧なコメントを心がけましょう。
              %br/
              不快な言葉遣いなどは利用制限や退会処分となることがあります。
            %button.commentBtn{:name => "button", :type => "submit"}
              %i.fa.fa-comment
              コメントするヨ
        %ul.links
          %li
            = link_to  "#", class: "hoge5" do
              %i.fa.fa-angle-left
              %span
              前の商品
          %li
            = link_to  "#", class: "hoge6" do
              %span
              後ろの商品
              %i.fa.fa-angle-right    
        .relateditems
          = link_to "メンズをもっと見る", "#", class: "hoge7"
  %aside.app-google
    .inner
      %h2.inner__title フリマアプリ 
      %p.inner__text  今すぐダウンロード
      .inner__icon
        = link_to class: "hoge8" do
          = image_tag 'app.svg', alt: 'minayoshi', height: '80', width: '250', class: 'minayoshi'
        = link_to  "#", class: "hoge9" do
          = image_tag 'google-play-badge (1).png', alt: 'gondo', height: '110', width: '275', class: 'hoge10'

  .footer
    %ul.contents
      %li.content
        %h2.content__head FURIMAについて
        %ul
          %li
            = link_to "メンズをもっと見る", "#",class: "hoge11"
          %li
            = link_to "メンズをもっと見る", "#",class: "hoge11"
          %li
            = link_to "メンズをもっと見る", "#",class: "hoge11"
          %li
            = link_to "メンズをもっと見る", "#",class: "hoge11"
      %li.content
        %h2.content__head FURIMAについて
        %ul
          %li
            = link_to "メンズをもっと見る", "#",class: "hoge11"
          %li
            = link_to "メンズをもっと見る", "#",class: "hoge11"
          %li
            = link_to "メンズをもっと見る", "#",class: "hoge11"
          %li
            = link_to "メンズをもっと見る", "#",class: "hoge11"
      %li.content
        %h2.content__head FURIMAについて
        %ul
          %li
            = link_to "メンズをもっと見る", "#",class: "hoge11"
          %li
            = link_to "メンズをもっと見る", "#",class: "hoge11"
          %li
            = link_to "メンズをもっと見る", "#",class: "hoge11"
          %li
            = link_to "メンズをもっと見る", "#",class: "hoge11"
    .footer__logo
      = link_to  "#", class: "hoge9" do
        = image_tag 'logo.png', alt: 'aaa', height: '49', width: '185', class: 'logo2'
    %p  FURIMA
  = link_to '#', class: "hoge12" do
    .purchaseBtn  
      %span.purchaseBtn__text 出品する
      = image_tag 'icon_camera.png', alt: 'gondo', height: '100', width: '250', class: 'hoge10'